<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/user/login" method="post">
        <label>email</label>
        <input type="email" placeholder="example@ex.com" name="email" required>
        <label>Password</label>
        <input type="text" name="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>
